<app-header></app-header>

<div style="text-align:center">
  
  <div class="container-pages">

  </div>
  <div class="container">
  <table class="table table-sm table-dark" style="background-color: black; font-size:20px;">
        <tr>
          <th>#</th>
          <th>Capítulos</th>
          <th>Fecha de emisión</th>
        

        </tr>
      
        <tr *ngFor="let caps of capitulos">      
          <td >{{caps.id}}</td>
          <td >{{caps.name}}</td>
          <td >{{caps.air_date}}</td>

        </tr>
      
      </table>
    </div>
   <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li *ngFor="let page of pages;let i = index" (click)="search($event, i)" [className]="'page ' + (i + 1 === currentPage? 'selected-page': '')">
          {{i + 1}}
        </li>
      </ul>
    </nav>
</div>